[Unit]
Description=HackSMC Frontend (Nginx)
After=network.target

[Service]
Type=forking
PIDFile=/run/nginx.pid
ExecStartPre=/usr/sbin/nginx -t -c /opt/hacksmc/nginx.conf
ExecStart=/usr/sbin/nginx -c /opt/hacksmc/nginx.conf
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s QUIT $MAINPID
Restart=on-failure

[Install]
WantedBy=multi-user.target
